.menu-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
/* Menu Header */

.menu-header {
  margin-top: 3rem;
}

.menu-header__title {
  font-size: 3rem;
}

.menu-header__text {
  font-style: italic;
  margin: 2rem;
}

.menu-header__date {
  margin-bottom: 1rem;
}

.menu-navigation__input {
  flex: 1;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem 0 0 0.25rem;
  outline: none;
}

.menu-navigation__button {
  padding: 10px 20px;
  background: #4285f4;
  color: #fff;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}
